<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="GameHostUrl-Release" value="http://www.octgn.net:7895/"/>
    <add key="GameHostUrl-Debug" value="http://localhost:7895/"/>
    <add key="SASLocation-Release" value="\\Octgn.StandAloneServer.exe"/>
    <add key="SASLocation-Debug" value="\\..\\..\\..\\Octgn.StandAloneServer\\bin\\Debug\\Octgn.StandAloneServer.exe"/>
  </appSettings>
  <log4net>
    <root>
      <!-- Levels: 1=OFF,2=FATAL,3=ERROR,4=WARN,5=INFO,6=DEBUG,7ALL -->
      <level value="ALL"/>
      <!--<appender-ref ref="FileAppender"/>-->
      <appender-ref ref="RollingFileAppender" />
    </root>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline %exception"/>
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="lobbyserver.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="500KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>